hcloud-microos-snapshots.pkr.hcl
terraform.tfstate
terraform.tfstate.backup
.env
terraform.tf.compact
.terraform.lock.hcl
.terraform
terraform.tfvars
nextcloud-tls.yaml.unused
pv.yaml
debug.yaml
sync-pub-ip-2-hetznerdns.py
k3s_kubeconfig.yaml
k3s_kustomization_backup.yaml
